body {
  text-align: center;
}

.mainTitle {
  font-family: 'Audiowide', sans-serif;
  font-size: 2rem;
  margin: 0.2em;
  color: #c88;
}

.chooseTitle {
  margin: 1em 0 0.25em;
}

table, tr, td {
  border: 1px solid #abc;
}

table {
  border-collapse: collapse;
  margin: 40px auto;
}

tr {
  height: 25px;
}

td {
  width: 25px;
}

input[type=number] {
  width: 3em;
  margin-right: 10px;
}

input[type=submit] {
  margin-right: 2em;
}


@media screen and (max-width: 480px) {

  .mainTitle {
    font-size: 1.1rem;
    display: inline;
  }

  .chooseTitle {
    font-size: 1.1rem;
    display: inline;
  }

  table {
    margin: 10px auto;
  }

    tr {
    height: 30px;
  }

  td {
    width: 30px;
  }
}
